@page "/"

<h1>五目並べ</h1>
<div class="container">
  <Board />
  <SideBar />
</div>
<div class="icons">
  <img src="" alt="React" class="icon react-icon" />
  <a href="https://github.com/yuma140902/gomoku-react"><img src="" alt="Github" class="icon" /></a>
</div>
