@page "/"

<h1>五目並べ</h1>
<div class="container">
  <Board />
  <SideBar />
</div>
<div class="icons">
  <img src="blazor.png" alt="Blazor" class="icon" />Blazor
  <a href="https://github.com/yuma140902/gomoku-blazor"><img src="github.png" alt="Github" class="icon" /></a>
</div>
